/BlasterCalculadora/build/
/BlasterCalculadora/nbproject/private/
/CalculorFatorial/build/
/Equacao2Grau/build/
/ParouImpar/nbproject/private/
/CalculorFatorial/nbproject/private/
/calculadoraidade/nbproject/private/
/Equacao2Grau/nbproject/private/
/ExercicioRepita/nbproject/private/
